html {
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    height: 2em;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.playbuttons {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.choice {
    background: none;
    border: none;
    transition: all .07s ease;
    padding: 0;
    margin: 0 auto;
}

.choice:hover {
    border: 2px solid gold;
    border-radius: 1em;
    box-shadow: 0 0 .5rem gold;
    transform: scale(1.1);
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 30px;
    height: 200px;

}

.choice > img,
#com-choice > img,
#player-choice > img {
    width: 150px;
    height: 150px;
}

#com-choice,
#player-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 2em;
}

.choicetext {
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px;
}

.no-events {
    pointer-events: none;
}

.alert {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px black solid;
    height: fit-content;
    margin-top: 50px;
    padding: 5px;
}